.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.wrapper{
  display: flex;
}

.tag {
  background: #ccc;
  border: 1px solid black;
  display: flex;
  align-itens: center;
  margin: 0 5px;
}

.tag span {
  padding: 5px;
}

.tag button {
  background: none;
  color: grey;
  border: 0;
}

form {
  display: flex;
}

form input {
  padding: 0 5px;
}